
header{
    font-size: 24px;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.Main{
    font-size: 20px;
    text-align: justify;
    color: white;
    font-family: 'Times New Roman', Times, serif;

}