*{
    margin: 5px;
    box-sizing: content-box;
}
body {
    height: 20vh;
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
    flex-direction: column;
}
h4{
    text-align: center;
}
.div{
    border-style: solid;
    border-color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    padding: 2em 0 2em 0 ;
    font-size: 20px;
}
header{
    border-style: solid;
    border-color: rgb(255, 0, 0);
    background: rgb(211, 211, 211);
    font-size: 30px;
}
.right img{
    width: 450px;
    height: 550px;
}
.left img{
    width: 450px;
    height: 550px;
}
.left{
    border-style: solid;
    border-color: rgb(255, 255, 255);
    background-color: transparent;
}
.Main{
    border-color: rgb(255, 0, 0);
    border-style: solid;
    background: rgb(0, 0, 0);
    font-size: 24px;
    margin: auto;
    align-items: center;
}
.Main a {
    text-decoration: none;
    color: #ffffff;
}
.right{
    border-style: solid;
    border-color: rgb(255, 255, 255);
    background: transparent;
}
.whole{
    display: flex;
    flex: 1;
}
@media all and(max-width: 100px) {
    .whole{
        flex-direction: column;
    }
    .Main{
        padding: 5em 0 5em 0 ;
    }
}