

*{
    margin: 5px 5px 5px 5px;
    box-sizing: border-box;
}
body
{
    background-color: white;
    font-family: sans-serif;
    margin-left: 2px;
    text-align: center;
    font-size: 24px;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-size: contain;
}

.banner{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 204, 255, 0.75)), url(C:\Users\alvin\Documents\HTML\11.jpg);
    background-size: cover;
    background-position: center;
    color: #f7f7f7;
    font-size: 15px;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.logo {
    width: 170px;
    height: 150px;
    cursor: pointer;
}


.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #000000;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
    color: white;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #ffffff;
}

.cart-quantity {
    width: 35%;
    color: white;
}

.cart-item-title {
    color: #ffffff;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: crimson;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
    color: white;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    margin-right: 20px;
}

.cart-total-price {
    color: #ffffff;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}


.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #ffffff;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #ffffff;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #00ff7b;
    border: none;
    
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: rgb(164, 5, 5);
}